.layoutForm__footer {
  font-family: "Roboto-bold";
}

.layoutForm__footer-logo {
  display: flex;
  justify-content: center;
  .logo {
    padding-top: 10px;
    width: 270px;
  }
}
.formContainer {
  .button_login {
    background-color: #ffff;
    color: #000;
    width: 35%;
    padding: 10px 0;
    margin: 30px auto 0;
    border-radius: 15px;
    font-size: 19px;
    font-family: "Roboto-bold";
    text-transform: none;
  }
  .button_login:hover {
    background-color: #f9ba3e;
  }
}
@media (max-width: 500px) {
  .layoutForm__footer {
    font-size: 12px;
    text-align: center;
  }
  .formContainer {
    .button_login {
      width: 45%;
      font-size: 15px;
    }
  }
  .layoutForm__footer-logo {
    .logo {
      width: 200px;
    }
  }
}
