.derecha-top {
  padding: 2rem 2rem 1rem 2rem;
  border-bottom: 1px grey solid;
}
.derecha-bottom {
  padding: 1rem 2rem 2rem 2rem;
}
.izquierda {
  padding: 1rem;
  width: 40%;
  font-family: "Roboto-Bold";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  h2 {
    font-size: 20px;
    text-align: center;
    margin: 15px 0px;
  }
}

.queryContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.modalRegisterStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62.5rem;
  padding: 0 0 20px 0;
}

.modalRegisterHeader {
  text-align: center;
  background-color: #f9ba3e;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.modalRegisterBody {
  position: relative;
  z-index: 0;
  margin-top: -30px;
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 30px;
}

@media (max-width: 1050px) {
  .queryContainer {
    flex-direction: column;
    overflow-x: hidden;
  }

  .modalRegisterStyle {
    width: 75%;
    min-width: 500px;
    max-height: 80%;
    padding: 0 0 20px 0;
    margin: 0 0 0 10px;
  }

  .scroll {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -1rem;
    padding-right: 1rem;
  }
  .izquierda {
    padding: 1rem;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    border-right: none;
    font-size: 15px;
    h2 {
      font-size: 15px;
    }
    img {
      width: 200px;
      align-self: center;
    }
  }

  .derecha-top {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .modalRegisterStyle {
    min-width: 350px;
    padding: 0 0 20px 0;
    margin: 0 0 0 10px;
  }
  .izquierda {
    font-size: 12px;
  }
}
