.derechaReport {
  padding: 1rem 1rem 1rem 1rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: bold;
    font-size: 22px;
  }
  p {
    margin-top: 10px;
    font-family: "Roboto-Ligth";
    font-size: 18px;
  }
  img {
    margin-top: 15px;
  }
}

.izquierdaReport {
  padding: 1rem 1rem 1rem 0rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid grey;
  h2 {
    font-weight: bold;
    font-size: 22px;
  }
  p {
    font-size: 15px;
    font-family: "Roboto-Ligth";
    margin-top: 15px;
  }
}

.queryContainerReport {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.modalRegisterStyleReport {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 62.5rem;
}
.modalRegisterHeaderReport {
  text-align: center;
  background-color: #f9ba3e;
  padding: 1rem;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.modalRegisterBodyReport {
  position: relative;
  z-index: 0;
  margin-top: -30px;
  background-color: white;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 30px;
}

@media (max-width: 1050px) {
  .queryContainerReport {
    flex-direction: column;
  }
  .scroll {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -1rem;
    padding-right: 2rem;
  }
  .modalRegisterStyleReport {
    width: 75%;
    min-width: 500px;
    max-height: 80%;
    padding: 0 0 20px 0;
    margin: 0 0 0 10px;
  }
  .izquierdaReport {
    padding: 0rem;
    padding-bottom: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    border-right: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
    h2 {
      font-size: 20px;
    }
    img {
      width: 200px;
      align-self: center;
    }
  }
  .derechaReport {
    padding: 1rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    column-gap: 50px;
    border-right: none;
    font-size: 15px;
    h2 {
      font-size: 20px;
    }
    img {
      width: 200px;
      align-self: center;
    }
  }

  .derecha-top {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .modalRegisterStyleReport {
    min-width: 350px;
    margin: 0 0 0 0;
  }
  .scroll {
    padding-right: 0rem;
  }
  .izquierdaReport {
    width: 95%;
    padding-bottom: 10px;
  }
  .derechaReport {
    padding: 0px;
    margin-top: 10px;
    width: 95%;
    img {
      width: 150px;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
    }
  }
  .modalRegisterBodyReport {
    padding: 1rem;
  }
  .divMensajes {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
  }
}
