* {
  margin: 0;
}
.home {
  &__box {
    background-color: rgba(249, 187, 62, 0.6);
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 70px;
    height: 20rem;
    &-title {
      color: #fff;
      font-family: "Roboto-Bold";
      font-size: 72px;
      margin: 0 auto 60px;
    }
    &-description {
      font-family: "Roboto-Regular";
      font-size: 28px;
      text-align: center;
    }
    &-button {
      font-family: "Roboto-Regular";
      font-size: 28px;
      border-radius: 5px;
      border: none;
      padding: 10px 20px 10px;
      margin: 60px auto 0px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        text-decoration: none;
        color: #000;
      }
      .logoPerrito{
        margin-left: 10px;
      }
    }
    &-button:hover {
      background-color: rgba(91, 91, 91, 0.5);
      a{
        color:white
      }

    }
  }
}

@media (max-width: 1280px) {
  .home {
    &__box {
      width: 30rem;
      &-title {
        font-size: 50px;
      }
      &-description {
        font-size: 20px;
      }
      &-button {
        font-size: 18px;
      }
      .logoPerrito{
        width: 35px;
      }
    }
  }
}

@media (max-width: 800px) {
  .home {
    &__box {
      width: 10rem;
      padding: 30px 45px;
      &-title {
        font-size: 25px;
        margin: 0 auto 27px;
      }
      &-description {
        font-size: 15px;
      }
      &-button {
        font-size: 10px;
        margin: 36px auto 0; 
      }
      .logoPerrito{
        width: 25px;
      }
    }
  }
}
