.layoutInicial {
  background-color: #f9ba3e;
  background-image: url(../../images/patita.png);
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .layoutInicial {
    height: 10rem;
  }
}
