html {
  background-color: #fafafa;
  min-width: 945px;
}
.WalkerRegistration {
  .walkerRegistrationContainer {
    padding: 3rem;
    font-family: "Roboto-Regular";

    .botonT {
      color: black;
      font-weight: bold;
      text-transform: none;
      font-family: "Roboto-Regular";
      font-size: 18px;
      padding: 0;
      margin-right: 35px;
    }
  }
}
