.WalkerRegistration {
  .walkerRegistrationContainer {
    padding: 3rem;
    font-family: "Roboto-Regular";
    .tableContainer {
      max-height: 690px;

      .cell {
        width: 20%;
      }
    }
    .botonT {
      color: black;
      font-weight: bold;
      text-transform: none;
      font-family: "Roboto-Regular";
      font-size: 18px;
      padding: 0;
      justify-content: center ;
      align-items: center;
    }
  }
}

@media (max-width: 500px) {
  .WalkerRegistration {
    .walkerRegistrationContainer {
      padding: 5px;
      h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
      }
      .tableContainer {
        max-height: 390px;
        .cell {
          font-size: 12px;
          padding: 5px;
          text-align: center;
        }
      }
      .botonT {
        font-size: 12px;
        margin-right: 0px;
      }
    }
  }
}
