html {
  background-color: #fafafa;
  min-width: 945px;
}
.DatesClient {
  .datesClientContainer {
    padding: 3rem;
    font-family: "Roboto-Regular";

    .botonT {
      color: black;
      font-weight: bold;
      text-transform: none;
      font-family: "Roboto-Regular";
      font-size: 18px;
      padding: 0;
      margin-right: 35px;
    }
    .botonT:disabled {
      color: #a7a6a6;
      opacity: 0.6;
      font-weight: bold;
      text-transform: none;
      font-family: "Roboto-Regular";
      font-size: 18px;
      padding: 0;
      margin-right: 35px;
    }
  }
  .botonB {
    background: #ffffff;
    border: 0.01px solid #888888;
    box-sizing: border-box;
    border-radius: 19px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Rambla-Bold";
    color: black;
    text-transform: none;
    font-size: 1.3rem;
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}
