.price {
  display: inline;
  width: 15%;
  max-width: 100px;
  text-align: center;
  background-color: #f9ba3e;
  border-radius: 40px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: "Roboto-Bold";
}
