.section {
  &__One {
    background-image: url("../../images/portada.png");
    background-size: cover;
    background-position: center;
    height: 680px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .logoBlanco {
      margin-top: 20px;
      width: 600px;
    }
    .buttonGroup {
      display: flex;
      flex-direction: row;
      column-gap: 240px;
      .botonHome {
        background-color: #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 42px;
        padding: 10px 30px;
        margin-bottom: 20px;
        color: #f9ba3e;
        &:hover {
          background-color: #dfdfdf;
        }
      }
    }
  }
  &__Two {
    background-color: rgba(144, 215, 202, 0.15);
    height: 680px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .pataCirculo {
      width: 500px;
    }
    .whatIs {
      width: 700px;
      text-align: center;
      h1 {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        color: rgba(249, 186, 62, 0.9);
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 56px;
      }
    }
  }
  &__Three {
    background-image: url("../../images/bannerTercer.png");
    background-repeat: repeat;
    height: 680px;
    display: flex;
    align-items: center;
  }
}

.footerHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Rambla-Regular";
  align-items: center;
  background: rgba(249, 186, 62, 0.5);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  .footerImages {
    p {
      cursor: auto;
      margin-left: 15px;
      font-weight: normal;
      font-size: 20px;
      line-height: 42px;
    }
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    .redesSociales {
      width: 30px;
    }
  }
  .footerEnd {
    font-size: 20px;
    line-height: 42px;
    margin-right: 15px;
  }
}

@media (max-width: 1000px) {
  .section {
    &__Two {
      padding: 0px 0px 0px 2rem;
      .pataCirculo {
        width: 40%;
      }
      .whatIs {
        width: 50%;
        padding: 0 2rem 0 1rem;
        h1 {
          font-size: 2.5rem;
          line-height: 3rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .section {
    &__One {
      .logoBlanco {
        width: 400px;
      }
      .buttonGroup {
        column-gap: 200px;
        .botonHome {
          font-size: 1rem;
          padding: 0px 1rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .section {
    &__Two {
      padding: 0px 0px 0px 0rem;
      justify-content: center;
      flex-direction: column;
      row-gap: 2rem;
      .pataCirculo {
        width: 250px;
      }
      .whatIs {
        width: 90%;
        padding: 0;
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .footerHome {
    .footerImages {
      p {
        font-size: 1rem;
      }

      .redesSociales {
        width: 24px;
      }
    }
    .footerEnd {
      font-size: 1rem;
    }
  }

  .section {
    &__One {
      .logoBlanco {
        width: 300px;
      }
      .buttonGroup {
        column-gap: 70px;
        margin-bottom: 1.5rem;
        .botonHome {
          font-size: 1rem;
          padding: 0px 1rem;
        }
      }
    }
  }
}
