html {
  background-color: #fafafa;
}
.main_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-left: 2%;
}
section {
  width: 25%;
  display: flex;
  align-self: stretch;
  border-right: 1px solid #b7b7b7;
  justify-content: center;
  min-height: 100vh;

  h2 {
    font-family: "Roboto-Bold";
    padding-bottom: 20px;
    padding-top: 40px;
  }

  .btn {
    background: #ffffff;
    font-family: "Roboto-Regular";
    border: 0.01px solid #b7b7b7;
    color: black;
    text-transform: none;
    font-size: 1.3rem;
  }
}

aside {
  width: 75%;
  padding: 30px 0px 0px 30px;
  text-align: center;

  .card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media (max-width: 1480px) {
  section {
    padding-right: 10px;
    text-align: center;
    .btn {
      font-size: 1.15rem;
    }
    article {
      h2 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 880px) {
  .home {
    min-width: 700px;
  }
  aside .card_container {
    justify-content: flex-start;
  }
  section {
    .btn {
      font-size: 1rem;
    }
    article {
      h2 {
        font-size: 23px;
      }
    }
  }
}
