.buttonBox {
  text-align: center;
  .btn {
    background: #ffffff;
    font-family: "Roboto-Regular";
    border: 0.01px solid #b7b7b7;
    color: black;
    text-transform: none;
    font-size: 1rem;
  }
  .buttonGroup {
    margin: 25px auto;
  }
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  text-align: center;
}

@media (max-width: 500px) {
  .buttonBox {
    .btn {
      font-size: 0.8rem;
    }
  }

  // .card_container div {
  //   min-width: 335px;
  // }
}
