.ReservedTours {
  .reservedToursContainer {
    padding: 3rem;
    font-family: "Roboto-Regular";
    .tableContainer {
      max-height: 690px;
      .cell {
        width: 16.6%;
      }
    }

    .botonT {
      color: black;
      font-weight: bold;
      text-transform: none;
      font-family: "Roboto-Regular";
      font-size: 18px;
      padding: 0;
      margin-right: 35px;
    }
  }
}

@media (max-width: 500px) {
  .ReservedTours {
    .reservedToursContainer {
      padding: 5px;
      h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 25px;
      }
      .tableContainer {
        max-height: 390px;
        .cell {
          font-size: 12px;
          padding: 4px;
          text-align: center;
        }
      }
      .botonT {
        font-size: 12px;
        margin-right: 0px;
      }
    }
  }
}
